<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: "error", content: "an error occured"}) %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1 style="color: black">
        we are having technical issues but our team is doing our bext to rectify
        this
      </h1>
    </main>
  </body>
</html>
