<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: "unavailable!!!", content: "this is currently not available"}) %>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/head.css" />
  </head>
  <body>
    <header>
    <%- include('includes/header') %>
    </header>
    <main>
      <section>
        <p>
          this page is currrently being worked on and will be available soon
          <div>
            you con explore SDI by clicking <a href="/">SDI</a>
          </div>
        </p>
      </section>
    </main>
  </body>
</html>
<style>
  body {
    color: white;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% auto;
  }
</style>
