<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: "success!!"}) %>
  </head>
  <body>
    <a href=""></a>
    </main>
  </body>
</html>
<style>
  #form {
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
  }
  #form button {
    align-self: center;
    margin: 0 auto;
  }
</style>
