<!DOCTYPE html>
<html lang="en">
          <%- include('../includes/head', {title: 'monitor', content: "check out the monitor that gives a 3d flow sequence of the river"}) %>
    </head>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/head.css" />
  </head>
  <body>
    <%- include('../includes/header') %>
    <main></main>
  </body>
</html>
