<!DOCTYPE html>
<html lang="en">
          <%- include('../includes/head', {title: 'monitor', content: "check out the monitor that gives a 3d flow sequence of the river"}) %>
    </head>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/head.css" />
    <link rel="stylesheet" href="styles/index.ad81734a.css" />
  </head>
  <body>
    <%- include('../includes/header') %>
    <main>
     <div id="map" class="map"></div>
    <script src="scripts/index.a19d3fae.js" type="module"></script>
    </main>
    
  </body>
  <style>
    .map {
      width: 100%;
      height: 600px;
    }
  </style>
</html>
