
<%- include('../includes/head', {title: "SDI - flow data", content: "enter your range to fetch flow data, starting from 2024"}) %>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/head.css" />
    <link rel="stylesheet" href="styles/russel.css">
    <script src="scripts/fetchRussel.js" defer></script>
  </head>
  <header><%- include('../includes/header') %></header>

<body>
    <div class="container">
        <h2>Styled Form</h2>
        <form data-csrfToken="<%= locals.csrfToken %>">
            <div class="group">
                <h3 class="group-heading">Start</h3>
                <div class="form-group">
                    <input type="number" placeholder="Longitude" name="longStart" class="sea-blue">
                </div>
                <div class="form-group">
                    <input type="number" placeholder="latitude" name="latStart" class="sea-blue">
                </div>
            </div>
            <div class="group">
                <h3 class="group-heading">End</h3>
                <div class="form-group">
                    <input type="number" placeholder="longitude" name="longend" class="sea-blue">
                </div>
                <div class="form-group">
                    <input type="number" placeholder="latitude" name="latEnd" class="sea-blue">
                </div>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>

</html>
<style>

</style>

