
<%- include('../includes/head', {title: "SDI - flow data", content: "enter your range to fetch flow data, starting from 2024"}) %>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/head.css" />
    <link rel="stylesheet" href="styles/russel.css">
    <script src="scripts/fetchRussel.js" defer></script>
  </head>
  <header><%- include('../includes/header') %></header>

<body>
    <div class="container">
        <h2>Styled Form</h2>
        <form data-csrfToken="<%= locals.csrfToken %>">
            <div class="group">
                <h3 class="group-heading">Start</h3>
                <div class="form-group">
                    <input type="" inputmode="numeric" placeholder="Longitude" name="longStart" class="sea-blue">
                </div>
                <div class="form-group">
                    <input type="" inputmode="numeric" placeholder="latitude" name="latStart" class="sea-blue">
                </div>
            </div>
            <div class="group">
                <h3 class="group-heading">End</h3>
                <div class="form-group">
                    <input type="" inputmode="numeric" placeholder="longitude" name="longend" class="sea-blue">
                </div>
                <div class="form-group">
                    <input type="" inputmode="numeric" placeholder="latitude" name="latEnd" class="sea-blue">
                </div>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>
        <!-- nbjbuyf -->
    </div>
    <div>
        <table>
  <thead>
    <tr>
      <th>FID</th>
      <th>LONGITUDE</th>
      <th>LATITUDE</th>
      <th>LS_FACTOR</th>
      <th>C_Factor_m</th>
      <th>Rainfall_E</th>
      <th>P_factor_m</th>
      <th>K_factor_m</th>
      <th>RUSLE2_1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      </tr>
    <tr>
      <td>Value 4</td>
      <td>Value 5</td>
      <td>Value 6</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
    </tr>
    <tr>
      <td>Value 7</td>
      <td>Value 8</td>
      <td>Value 9</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
      <td>Value 3</td>
     </tr>
  </tbody>
</table>

    </div>
</body>

<style>

</style>

