body {
    font-family: Arial, sans-serif;
    background-color: seablue;
    color: white;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.group {
    margin-bottom: 20px;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 5px;
    padding: 10px;
}

.group-heading {
    margin-top: -25px;
    padding: 0 10px;
    background-color: white;
    color: #4CAF50; /* Green */
    display: inline-block;
}

.form-group {
    margin-bottom: 10px;
}

input[type="number"] {
    width: calc(90% - 12px);
    padding: 8px;
    border: 1px solid #4CAF50; /* Green */
    border-radius: 5px;
    background-color: rgb(0, 50, 100);
    color: white;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 50, 100);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #005580; /* Darker seablue */
}
