.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 90%;
  font-size: 1.2em;
  position: relative;
  left: 6%;
  /* right: 1%; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: black;
}
.content-table tbody tr:last-of-type {
  border-bottom: #009879;
}
.content-table tr .dynamic {
  font-weight: bold;
  color: #009879;
}

@media screen and (min-width: 850px) {
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 60%;
    font-size: 1.2em;
    position: relative;
    left: 20%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
}
